.heroArea {
  background-color: #11115d;
  padding-top: 100px;
  padding-bottom: 50px;
}

@media (min-width: 576px) {
  .heroArea {
    padding-top: 125px;
  }
}

@media (min-width: 768px) {
  .heroArea {
    padding-top: 140px;
    padding-bottom: 70px;
  }
}

@media (min-width: 992px) {
  .heroArea {
    padding-top: 150px;
    padding-bottom: 130px;
  }
}

.heroArea .content {
  padding-top: 45px;
}

@media (min-width: 992px) {
  .heroArea .content {
    padding-top: 0;
  }
}

.heroArea .content h2 {
  color: #79ff8b;
  font-family: Poppins;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -1px;
  line-height: 40px;
  margin-bottom: 35px;
}

@media (min-width: 576px) {
  .heroArea .content h2 {
    font-size: 40px;
    line-height: 46px;
  }
}

@media (min-width: 768px) {
  .heroArea .content h2 {
    font-size: 48px;
    line-height: 54px;
  }
}

@media (min-width: 992px) {
  .heroArea .content h2 {
    font-size: 48px;
    line-height: 50px;
  }
}

@media (min-width: 1200px) {
  .heroArea .content h2 {
    font-size: 64px;
    line-height: 64px;
  }
}

.heroArea .content h5 {
  opacity: 0.95;
}

.heroArea .content p {
  opacity: 0.8;
  color: #fff;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}

.heroArea .content span {
  opacity: 0.8;
  color: #213053;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  display: inline-block;
  line-height: 28px;
  margin-top: 23px;
}


.heroImageSection {
  position: relative;
}

.heroImageSection .image2 {
  position: absolute;
  top: 30%;
  left: 0%;
}

.heroImageSection .image3 {
  position: absolute;
  top: 5%;
  right: 0%;
}

.heroImageSection .image4 {
  position: absolute;
  bottom: 15%;
  right: -3%;
}

@media (min-width: 1200px) {
  .heroImageSection .image4 {
    right: -10%;
  }
}

.heroButtonContent {
  width: 50%;
}

.heroButton {
  margin-left: 0 !important;
}

.heroText p {
  margin-bottom: 16px;
}
