.hero-area-l1 {
  background-color: #11115d;
  padding-top: 100px;
  padding-bottom: 50px;
}

@media (min-width: 576px) {
  .hero-area-l1 {
    padding-top: 125px;
  }
}

@media (min-width: 768px) {
  .hero-area-l1 {
    padding-top: 140px;
    padding-bottom: 70px;
  }
}

@media (min-width: 992px) {
  .hero-area-l1 {
    padding-top: 150px;
    padding-bottom: 130px;
  }
}

.hero-area-l1 .content {
  padding-top: 45px;
}

@media (min-width: 992px) {
  .hero-area-l1 .content {
    padding-top: 0;
  }
}

.hero-area-l1 .content h2 {
  color: #79FF8B;
  font-family: Poppins;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -1px;
  line-height: 40px;
  margin-bottom: 35px;
}

@media (min-width: 576px) {
  .hero-area-l1 .content h2 {
    font-size: 32px;
    line-height: 46px;
  }
}

@media (min-width: 768px) {
  .hero-area-l1 .content h2 {
    font-size: 32px;
    line-height: 54px;
  }
}

@media (min-width: 992px) {
  .hero-area-l1 .content h2 {
    font-size: 48px;
    line-height: 50px;
  }
}

@media (min-width: 1200px) {
  .hero-area-l1 .content h2 {
    font-size: 64px;
    line-height: 64px;
  }
}

.hero-area-l1 .content p {
  opacity: 0.8;
  color: #fff;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}

.hero-area-l1 .content span {
  opacity: 0.8;
  color: #213053;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  display: inline-block;
  line-height: 28px;
  margin-top: 23px;
}

.l1-create-acc-btn i {
  margin-left: 30px;
}

.l1-create-acc-btn .btn {
  min-width: 268px;
  border-radius: 30px;
  background-color: #FF7139;
  color: #fff;
  font-family: Poppins;
  font-size: 17px;
  font-weight: 400;
  padding: 14px;
  font-style: normal;
  letter-spacing: normal;
  box-shadow: 0 10px 20px rgba(241, 139, 98, 0.2);
  margin-top: 22px;
}

.l1-create-acc-btn .btn:hover
{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  animation-delay: 1;
  background-color: #004aad;
}

.hero-image-group-l1 {
  position: relative;
}

.hero-image-group-l1 .image-2 {
  position: absolute;
  top: 30%;
  left: 0%;
}

.hero-image-group-l1 .image-3 {
  position: absolute;
  top: 5%;
  right: 0%;
}

.hero-image-group-l1 .image-4 {
  position: absolute;
  bottom: 15%;
  right: -3%;
}

@media (min-width: 1200px) {
  .hero-image-group-l1 .image-4 {
    right: -10%;
  }
}
