.logo {
  width: 20%;
  margin: auto;
}

.signUpPage {
  padding-top: 90px;
  align-items: center;
  background-image:  url('../../assets/image/color-background.png');
  display: flex;
  flex-direction: column;
  height: calc(100vh);
  justify-content: center;
}

/*form styles*/
.signUpForm {
	width: 100%;
  margin: auto;
 	max-width: 600px;
}

.signUpForm fieldset {
	background: white;
	border-radius: 50px;
	border: 0 none;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	margin-bottom: 5px;
	margin-top: 30px;
	padding: 20px;
	
/*stacking fieldsets above each other*/
	position: relative;
}

/*inputs*/
.signUpForm input, .signUpForm textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: Poppins;
	color: #2C3E50;
	font-size: 13px;
}

/*buttons*/
.signUpForm .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}

.signUpForm .action-button:hover, 
.signUpForm .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*headings*/
.title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}

.subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}

.indexedStep {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: rgba(0, 116, 217, 1);
}


.btnSignup {
  cursor: pointer;
  background-color:#fff;
  color:#004aad;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 10px;
}

.btnSignup:hover {
  background-color:#004aad;
  color:#fff;
}

.btnSignup:disabled {
  opacity: 0.7;
}

.btnSignup:disabled:hover {
  transform: scale(1);
  opacity: 0.7;
  background-color:#fff;
  color:#004aad;
  font-weight: 700;
  margin-bottom: 20px;
  margin-left: 10px;
  cursor: not-allowed;
}


