/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>      
               Content-Area 01-L9
        <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.content-area-l9-1 {
  padding-top: 50px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .content-area-l9-1 {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .content-area-l9-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.content-area-l9-1 .content-area-l9-1-items {
  margin-bottom: -30px;
}

.content-area-l9-1 .content-area-l9-1-items .col-lg-4 {
  margin-bottom: 30px;
}

.content-area-l9-1 .content p {
  font-size: 15px;
  line-height: 28px;
  color: #fff;
}

.overflow-hidden {
  overflow: hidden !important;
}

.image-hover-style-01 {
  border-radius: 10px;
}

.image-hover-style-01 img {
  transition: all 0.4s ease-in-out;
}

.image-hover-style-01 img:hover {
  transform: scale(1.2);
  transition: all 1s ease-out;
  filter: brightness(0.7);
}
