.l1-create-acc-btn i {
  margin-left: 30px;
}

.btn-style-02:before {
  width: 0%;
  height: 100%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 20px;
  background: #213053;
  transition: all .5s;
  opacity: 0;
  z-index: -1;
}

.btn-style-02:hover {
  background: none !important;
  box-shadow: none !important;
}

.btn-style-02:hover:before {
  box-shadow: 0px;
  color: #fff;
  opacity: 1;
  width: 100%;
}

/* LoginButton */
button
{   
    background-color: #004aad;
    color: #fff;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    transition: all .2s ease-in-out; 
}

button:hover
{
    background-color:#FF7139;
    transform: scale(1.1); 

}
