.content-2-l1-image-group {
  position: relative;
}

.content-2-l1-image-group .image-2 {
  position: absolute;
  top: 17%;
  left: 0%;
}

.testimonial-area-l-image-group .image-1 {
  position: absolute;
  top: 10%;
  left: 0%;
}

@media (min-width: 992px) {
  .testimonial-area-l-image-group .image-1 {
    top: 30%;
    left: 10%;
  }
}

.testimonial-area-l-image-group .image-2 {
  position: absolute;
  bottom: 0%;
  right: 5%;
}

#testemunho-jovem
{
  border-radius: 0px 0px 250px 250px;
  
}

.content-2-l1-image-group {
  position: relative;
}

.content-2-l1-image-group .image-2 {
  position: absolute;
  top: 17%;
  left: 0%;
}

.testimonial-area-l-image-group .image-1 {
  position: absolute;
  top: 10%;
  left: 0%;
}

@media (min-width: 992px) {
  .testimonial-area-l-image-group .image-1 {
    top: 30%;
    left: 10%;
  }
}

.testimonial-area-l-image-group .image-2 {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

.content-are-l1-1 {
  position: relative;
  z-index: 1;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .content-are-l1-1 {
    padding-top: 50px;
  }
}

@media (min-width: 992px) {
  .content-are-l1-1 {
    padding-top: 90px;
  }
}

.curve-image-l1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 125%;
  margin-top: -14px;
}

@media (min-width: 768px) {
  .curve-image-l1 {
    margin-top: -16px;
  }
}

@media (min-width: 992px) {
  .curve-image-l1 {
    margin-top: -11px;
  }
}

@media (min-width: 1200px) {
  .curve-image-l1 {
    margin-top: -30px;
  }
}

.content-box-l1-1 {
  position: relative;
  box-shadow: 0 72px 54px rgba(23, 135, 252, 0.12);
  border-radius: 50px;
  background-color: #fff;
  padding: 20px;
}

@media (min-width: 480px) {
  .content-box-l1-1 {
    padding: 40px 40px 50px 40px;
  }
}

@media (min-width: 768px) {
  .content-box-l1-1 {
    padding: 50px 60px 60px 60px;
  }
}

@media (min-width: 992px) {
  .content-box-l1-1 {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .content-box-l1-1 {
    padding: 40px 50px 40px 50px;
  }
}

.content-box-l1-1 .cap-image {
  position: absolute;
  right: 0;
  bottom: 12%;
  margin-right: -80px;
}

.content-area-l1-image-group {
  position: relative;
  padding-top: 45px;
}

@media (min-width: 992px) {
  .content-area-l1-image-group {
    padding-top: 0;
  }
}

.content-area-l1-image-group .image-2 {
  position: absolute;
  top: 7%;
  right: 25%;
}

.content-area-l1-image-group .image-3 {
  position: absolute;
  bottom: 0;
  left: -15%;
}

.section__heading h3 {
  color: #213053;
  font-size: 24px;
  font-weight: 600;
  font-family: Poppins;
  font-style: normal;
  letter-spacing: -1px;
  line-height: 40px;
  margin-bottom: 25px;
}

@media (min-width: 480px) {
  .section__heading h3 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  .section__heading h3 {
    font-size: 26px;
    line-height: 40px;
  }
}

.getStartButton {
  margin: 10px 0;
}
