.content-area-l7-2 {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .content-area-l7-2 {
    padding-bottom: 55px;
  }
}

@media (min-width: 992px) {
  .content-area-l7-2 {
    padding-bottom: 5px;
  }
}

@media (min-width: 1200px) {
  .content-area-l7-2 .section__heading-3 h2 {
    padding-right: 86px;
  }
}

@media (min-width: 1600px) {
  .content-area-l7-2 .section__heading-3 h2 {
    padding-right: 86px;
  }
}

.content-area-l7-2 p {
  opacity: 0.9;
}

.content-area-l7-2-heading {
  padding-bottom: 45px;
}

@media (min-width: 768px) {
  .content-area-l7-2-heading {
    padding-bottom: 45px;
  }
}

@media (min-width: 992px) {
  .content-area-l7-2-heading {
    padding-bottom: 45px;
  }
}

.content-2-l7-image img {
  border-radius: 15px;
}

.content-2-l7-image:hover {
  transform: scale(1.20, 1.20);
  transition: 0.6s;
}

.feature-l2-items {
  padding-top: 25px;
  margin-bottom: -25px;
}

@media (min-width: 768px) {
  .feature-l2-items {
    padding-top: 35px;
  }
}

@media (min-width: 992px) {
  .feature-l2-items {
    padding-top: 45px;
  }
}

.feature-l2-items .col-xl-3 {
  margin-bottom: 25px;
}

.feature-area-16 {
  padding-top: 50px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .feature-area-16 {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .feature-area-16 {
    padding-top: 125px;
    padding-bottom: 130px;
  }
}

.feature-16-items {
  padding-top: 25px;
  margin-bottom: -25px;
}

@media (min-width: 768px) {
  .feature-16-items {
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 992px) {
  .feature-16-items {
    padding-top: 45px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.feature-16-items .col-xl-3 {
  margin-bottom: 25px;
}

.feature-box-16 {
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  padding: 15px 15px 7px 15px;
  transition: all 0.4s ease-in-out;
}

.feature-box-16:hover {
  box-shadow: 0px 54px 100px rgba(10, 4, 60, 0.1);
    transform: scale(1.05, 1.05);
  transition: 0.6s;
}

.feature-box-16 .color-box-16 {
  height: 24px;
  width: 24px;
}

.feature-box-16 .content-box-16 {
  margin-left: 25px;
}

.feature-box-16 .content-box-16 h4 {
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  color: #213053;
  margin-top: -6px;
}

.feature-box-16 .content-box-16 p {
  font-size: 17px;
  line-height: 30px;
  color: #1d263a;
  opacity: 0.7;
}

