.content-area-l7-2 {
  padding-bottom: 55px;
}

@media (min-width: 768px) {
  .content-area-l7-2 {
    padding-bottom: 55px;
  }
}

@media (min-width: 992px) {
  .content-area-l7-2 {
    padding-bottom: 125px;
  }
}

@media (min-width: 1200px) {
  .content-area-l7-2 .section__heading-3 h2 {
    padding-right: 86px;
  }
}

@media (min-width: 1600px) {
  .content-area-l7-2 .section__heading-3 h2 {
    padding-right: 86px;
  }
}

.content-area-l7-2-heading {
  padding-bottom: 45px;
}

@media (min-width: 768px) {
  .content-area-l7-2-heading {
    padding-bottom: 45px;
  }
}

@media (min-width: 992px) {
  .content-area-l7-2-heading {
    padding-bottom: 45px;
  }
}

.content-l7-2-content-box {
  margin-top: 45px;
  margin-bottom: -20px;
}

@media (min-width: 768px) {
  .content-l7-2-content-box {
    margin-bottom: -25px;
  }
}

@media (min-width: 992px) {
  .content-l7-2-content-box {
    margin-top: 0;
  }
}

.content-l7-2-content-box .item {
  margin-bottom: 20px;
  margin-top:30px ;
  color: #fff;
}

@media (min-width: 768px) {
  .content-l7-2-content-box .item {
    margin-bottom: 25px;
  }
}

.content-l7-2-content-box .item .item-icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  border: 1px solid #E1ECF0;
  margin-bottom: 30px;
}

@media (min-width: 480px) {
  .content-l7-2-content-box .item .item-icon {
    margin-right: 30px;
  }
}

.content-l7-2-content-box .item .item-icon span {
  color:  #fff;
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.73px;
  line-height: normal;
}

.content-l7-2-content-box .item .item-content h4 {
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  color: #fff;
}

.content-l7-2-content-box .item .item-content p {
  font-size: 15px;
  line-height: 28px;
  color:  #fff;
  opacity: 0.7;
  margin-bottom: 0;
}

.content-2-l7-image img {
  border-radius: 15px;
}
