.clients-l8-items {
  margin-bottom: -30px;
  padding-top: 20px;
}

@media (min-width: 768px) {
  .clients-l8-items {
    padding-top: 30px;
  }
}

@media (min-width: 992px) {
  .clients-l8-items {
    padding-top: 60px;
  }
}

.clients-l8-items .col-lg-4 {
  margin-bottom: 30px;
}

.client-l8-card {
  background: #ffffff;
  border: 1px solid #e1ecf0;
  border-radius: 10px;
  padding: 40px 40px 35px 40px;
  height: 100%;
}

.client-l8-card .image img {
  width: 179px;
  height: 179px;
  border-radius: 10px;
  align-content: center;
}

.justify-content-center {
  justify-content: center !important;
}



.clients-area-l8 {
  padding-top: 20px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .clients-area-l8 {
    padding-top: 20px;
    padding-bottom: 60px;
  }
}

@media (min-width: 992px) {
  .clients-area-l8 {
    padding-top: 20px;
    padding-bottom: 70px;
  }
}

p
{
  font-size: 11pt;
  color:grey;
  line-height: 14pt;
  text-align:left;
}

.namePersona
{
  vertical-align: super;
}