.content-2-l1-image-group {
  position: relative;
}

.content-2-l1-image-group .image-2 {
  position: absolute;
  top: 17%;
  left: 0%;
}

.testimonial-area-l-image-group .image-1 {
  position: absolute;
  top: 10%;
  left: 0%;
}

@media (min-width: 992px) {
  .testimonial-area-l-image-group .image-1 {
    top: 30%;
    left: 10%;
  }
}

.testimonial-area-l-image-group .image-2 {
  position: absolute;
  bottom: 10%;
  right: 10%;
}

#testemunho-mentor
{
  border-radius: 250px 250px 0px 0px;
}