*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

/*
* Text Alignment
*/

.text-start {
  text-align: left !important;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

/*
* Background Colors
*/

.bg-default {
  background-color: #fff;
}

.bg-primary {
  background-color: #11115d;
}

.bg-secondary {
  background-color: #ff7139;
}

.bg-tertiary {
  background-color: #213053;
}

.bg-dark {
  background-color: #212529;
}

.bg-grey1 {
  background-color: #ababac;
}

.bg-mint {
  background-color: #8aec82;
}

.bg-secondBlue {
  background-color: #004aad;
}

/*
* Button Alignment
*/

.button-start {
  align: left !important;
}

.button-end {
  align: right !important;
}

.button-center {
  align: center !important;
}

/*
* Text Color
*/

.ft-default {
  color: #213053;
}

.ft-primary {
  color: #fff;
}

.ft-secondary {
  color: #ababac;
}

.ft-dark {
  color: #000;
}

/*
* Paragraph
*/
p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #213053;
  opacity: 0.8;
}
