/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>      
Brand Area-L-17
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.brand-area-l-17 {
padding-bottom: 60px;
}

@media (min-width: 768px) {
.brand-area-l-17 {
    padding-bottom: 80px;
}
}

@media (min-width: 992px) {
.brand-area-l-17 {
    padding-bottom: 130px;
}
}

.brand-area-l-17 .content p {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #878B90;
margin-bottom: 45px;
}

.brand-area-l-17 .content h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 28px;
  color: #878B90;
  margin-bottom: 45px;
  }


.brand-area-l-17-items {
padding-top: 50px;
}

.brand-area-l-17-items .partnersBrand {
 padding: 10px;
}

