/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>      
Brand Area-L-17
<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.brand-area-l-17 {
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .brand-area-l-17 {
    padding-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .brand-area-l-17 {
    padding-bottom: 130px;
  }
}

.brand-area-l-17 .content p {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #878b90;
  margin-bottom: 45px;
}

.brand-area-l-17 .content h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 28px;
  color: #878b90;
  margin-bottom: 45px;
}

.brand-area-l-17-items {
  margin: 0px -20px -45px -20px;
}

.brand-area-l-17-items .single-brand {
  margin: 0px 35px 10px 20px;
}

.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1160px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}

.col-xl-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-lg-11 {
  flex: 0 0 auto;
  width: 91.66667%;
}

.col-md-12 {
  flex: 0 0 auto;
  width: 80%;
}

.text-center {
  text-align: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-xl-between {
  justify-content: space-between !important;
}

.d-flex {
  display: flex !important;
}

.align-items-center {
  align-items: center !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}

.row > * {
  flex-shrink: 0;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}

.resize-image {
  transform: scale(1, 1);
  transition: 1s;
}

.resize-image:hover {
  transform: scale(1.3, 1.3);
}
