.content-are-l1-1 {
  position: relative;
  z-index: 1;
  padding-top: 60px;
}

@media (min-width: 768px) {
  .content-are-l1-1 {
    padding-top: 80px;
  }
}

@media (min-width: 992px) {
  .content-are-l1-1 {
    padding-top: 130px;
  }
}

.curve-image-l1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 125%;
  margin-top: -14px;
}

@media (min-width: 768px) {
  .curve-image-l1 {
    margin-top: -16px;
  }
}

@media (min-width: 992px) {
  .curve-image-l1 {
    margin-top: -11px;
  }
}

@media (min-width: 1200px) {
  .curve-image-l1 {
    margin-top: -30px;
  }
}

.content-box-l1-1 {
  position: relative;
  box-shadow: 0 72px 54px rgba(23, 135, 252, 0.12);
  border-radius: 50px;
  background-color: #fff;
  padding: 30px;
}

@media (min-width: 480px) {
  .content-box-l1-1 {
    padding: 40px 40px 50px 40px;
  }
}

@media (min-width: 768px) {
  .content-box-l1-1 {
    padding: 50px 60px 60px 60px;
  }
}

@media (min-width: 992px) {
  .content-box-l1-1 {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .content-box-l1-1 {
    padding: 60px 65px 70px 65px;
  }
}

.content-box-l1-1 .cap-image {
  position: absolute;
  right: 0;
  bottom: 12%;
  margin-right: -80px;
}

.l1-get-start-btn .btn {
  width: 247px;
  height: 69px;
  box-shadow: 0 26px 46px rgba(241, 139, 98, 0.5);
  border-radius: 20px;
  background-color: #FF7139;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  margin-top: 40px;
}

.l1-get-start-btn i {
  margin-left: 40px;
}

.content-area-l1-image-group {
  position: relative;
  padding-top: 45px;
}

@media (min-width: 992px) {
  .content-area-l1-image-group {
    padding-top: 0;
  }
}

.content-area-l1-image-group .image-2 {
  position: absolute;
  top: 7%;
  right: 25%;
}

.content-area-l1-image-group .image-3 {
  position: absolute;
  bottom: 0;
  left: -15%;
}
