.number-content-box-l1 {
  margin-top: 30px;
  margin-bottom: -60px;
}

@media (min-width: 768px) {
  .number-content-box-l1 {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .number-content-box-l1 {
    margin-top: 70px;
  }
}

.number-content-box-l1 li {
  margin-bottom: 60px;
}

.number-content-box-l1 .number {
  width: 100px;
  height: 66px;
  line-height: 66px;
  box-shadow: 0 5px 0 rgba(23, 135, 252, 0.65);
  border-radius: 20px;
  background-color: #1787fc;
  text-align: center;
}

.number-content-box-l1 .number span {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.4px;
}

.number-content-box-l1 .number--2 {
  box-shadow: 0 5px 0 rgba(255, 113, 57, 0.65);
  background-color: #ff7139;
}

.number-content-box-l1 .content {
  margin-left: 30px;
}

.number-content-box-l1 .content h4 {
  color: #213053;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.3px;
  line-height: 32px;
}

.number-content-box-l1 .content p {
  opacity: 0.8;
  color: #213053;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
}