.content-area-2-l1 {
  padding-top: 100px;
  padding-bottom: 60px;
}

/** 
  Section Heading
**/

.section__heading h1,
.section__heading h2,
.section__heading h3,
.section__heading h4,
.section__heading h5,
.section__heading h6 {
  line-height: 1.45em;
}

.section__heading h2 {
  color: #213053;
  font-size: 34px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -1px;
  margin-bottom: 25px;
}

@media (min-width: 480px) {
  .section__heading h2 {
    font-size: 38px;
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  .section__heading h2 {
    font-size: 36px;
    line-height: 40px;
  }
}

.section__heading p {
  opacity: 0.7;
  color: #213053;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
