@font-face {
    font-family: 'Caveat';
    src: url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap" rel="stylesheet");
    font-weight: normal;
    font-style: normal;
}