.text-center {
  text-align: center !important;
}

.justify-content-center {
  justify-content: center !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.z-index-1 {
  z-index: 1;
}

.vertical-align {
  vertical-align: middle !important;
}