.service-area-l4-1 {
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .service-area-l4-1 {
    padding-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .service-area-l4-1 {
    padding-bottom: 130px;
  }
}

@media (min-width: 1200px) {
  .service-l4-head-content {
    margin-left: -30px;
  }
}

.service-l4-card-items {
  padding-top: 30px;
  margin-bottom: -30px;
}

@media (min-width: 768px) {
  .service-l4-card-items {
    padding-top: 40px;
  }
}

@media (min-width: 992px) {
  .service-l4-card-items {
    padding-top: 80px;
  }
}

.service-l4-card-items .col-lg-4 {
  margin-bottom: 30px;
}

.service-l4-card {
  padding: 45px 0px 0px 50px;
  background: #EBF5FF;
  transition: all 0.4s ease-in-out;
}

.service-l4-card .content {
  padding-right: 30px;
}

.service-l4-card h4 {
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  color: #1D263A;
}

.service-l4-card p {
  font-size: 17px;
  line-height: 30px;
  color: #1D263A;
  padding: 25px 0px 25px 0px;
}

.service-l4-card .number-icon-area .number h1 {
  font-weight: 600;
  font-size: 96px;
  line-height: 65px;
  letter-spacing: -1px;
  color: #000;
  opacity: 0.05;
  margin-bottom: 0;
  margin-right: -4px;
  transition: all 0.4s ease-in-out;
}

.service-l4-card:hover {
  background: #FF8121;
}

.service-l4-card:hover .number h1 {
  opacity: 1;
}
