.text-start h1,
.text-end h1,
.text-center h1 {
  font-size: 48px;
  font-family: Poppins;
  font-weight: 600;
}
.text-start h2,
.text-end h2,
.text-center h2 {
  font-size: 36px;
  font-family: Poppins;
  font-weight: 600;
}

.text-start h3,
.text-end h3,
.text-center h3 {
  font-size: 28px;
  font-family: Poppins;
  font-weight: 400;
}

.text-start h4,
.text-end h4,
.text-center h4 {
  font-size: 24px;
  font-family: Poppins;
  font-weight: 400;
}

.text-start h5,
.text-end h5,
.text-center h5 {
  font-size: 20px;
  font-family: Poppins;
}

.text-start h6,
.text-end h6,
.text-center h6 {
  font-size: 16px;
  font-family: Poppins;
}

.ft-default {
  color: #213053;
}

.ft-primary {
  color: #fff;
}

.ft-secondary {
  color: #6b6b6b;
}

.ft-tertiary {
  color: #79ff8b;
}

.ft-quartenary {
  color: rgba(135, 160, 170, 0.7);
}

.ft-quinary {
  color: #2e2e2e;
}