.RSPBprogressBar {
    height: 10px;
    line-height: 1;
    border-radius: 10px;
    position: relative;
    background-color: lightgrey 0.6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    width: 70%;
    margin-top: 80px;
    margin-left: 15%;
.RSPBprogressBar {
    height: 10px;
    line-height: 1;
    border-radius: 10px;
    position: relative;
    background-color: lightgrey 0.6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
    width: 100%;
    margin-top: 80px;
=======
/*progressbar*/
.step-progress-bar {
  position: relative;
	height: 13px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
<<<<<<< HEAD
  width: 700px;
>>>>>>> a613e23 (♻️ Refactor MultistepForm)
}
<<<<<<< HEAD
  
    .RSPBstep {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      z-index: 0;
      position: absolute;
      transform: translateX(-50%);
      transition-property: all;
      transition-timing-function: ease;
    }
  
    .RSPBprogressBarText {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .RSPBprogression {
      position: absolute;
      transition: width 0.3s ease;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: 10px;
      background: #0074d9 0.8;
      z-index: -1;
  }
<<<<<<< HEAD

.label
{
  position: relative;
}.step-progress-bar {
  position: relative;
	height: 13px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  max-width: 700px;
||||||| parent of c4a0bfe (♻️ Refactor MultistepForm)
  width: 700px;
=======
  max-width: 700px;
>>>>>>> c4a0bfe (♻️ Refactor MultistepForm)
}

.progress-bar-step {
  align-items: center;
  background-color: #A7B7BB;
  border-radius: 50px;
  color: white;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 25px;
  position: relative;
}

.progress-bar-step[data-current="true"],
.progress-bar-step[data-accomplished="true"] {
  background-color: #2977D0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2)
}

.progress-bar-completed {
  background: #2977D0;
  border-radius: 20px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in-out;
}
  
    .RSPBstep {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      z-index: 0;
      position: absolute;
      transform: translateX(-50%);
      transition-property: all;
      transition-timing-function: ease;
    }
  
    .RSPBprogressBarText {
      color: white;
      font-size: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .RSPBprogression {
      position: absolute;
      transition: width 0.3s ease;
      left: 0;
      top: 0;
      bottom: 0;
      border-radius: 10px;
      background: #0074d9 0.8;
      z-index: -1;
  }
=======
>>>>>>> a613e23 (♻️ Refactor MultistepForm)

.progress-bar-step {
  align-items: center;
  background-color: #A7B7BB;
  border-radius: 50px;
  color: white;
  display: flex;
  height: 25px;
  justify-content: center;
  width: 25px;
  position: relative;
}

.progress-bar-step[data-current="true"],
.progress-bar-step[data-accomplished="true"] {
  background-color: #2977D0;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2)
}

<<<<<<< HEAD
.select-class
{
  font-size: 10pt;
  text-align: left;
  height: 50px;
}
>>>>>>> 43c464c (Update react-select SignUp)
||||||| parent of a613e23 (♻️ Refactor MultistepForm)
.select-class
{
  font-size: 10pt;
  text-align: left;
  height: 50px;
}
=======
.progress-bar-completed {
  background: #2977D0;
  border-radius: 20px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in-out;
}
>>>>>>> a613e23 (♻️ Refactor MultistepForm)
