.video-modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1050;
}

.video-modal .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-wrapper {
  padding-top: 56.25%;
  position: relative;
  width: 100%;
  background-color: #000;
}

.video-wrapper iframe,
.video-wrapper img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border: none;
}

.video-wrapper .video-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-area-l-17 {
  position: relative;
  background: url('../../assets/image/l8/background-semear.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 40px;
  z-index: 1;
}

.video-area-l-17:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(-45deg, #152649 0%, #4f525c 100%);
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .6;
}

@media (min-width: 768px) {
  .video-area-l-17 {
    padding-top: 80px;
    padding-bottom: 60px;
  }
}

@media (min-width: 992px) {
  .video-area-l-17 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.video-area-l-17 .video-content a i {
  background: #fff;
  width: 96px;
  height: 96px;
  line-height: 96px;
  border-radius: 50%;
  text-align: center;
  color: #50E3C2;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .video-area-l-17 .video-content a i {
    margin-bottom: 55px;
  }
}

.video-area-l-17 .video-content h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 50px;
  letter-spacing: -0.3px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.video-area-l-17 .video-content p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
}



.fa-play:before {
  content: "\f04b"; }

.fa-play-circle:before {
  content: "\f144"; }


.col-xxl-7 {
  flex: 0 0 auto;
  width: 58.33333%;
}

.col-xl-8 {
  flex: 0 0 auto;
  width: 66.66667%;
}

.col-lg-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-md-12 {
  flex: 0 0 auto;
  width: 80%;
}

.text-center {
  text-align: center !important;
}

.justify-content-center {
  justify-content: center !important;
}


/* Video Slide */
.hero-video-l12 .video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-video-l12 .video-icon i {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  background: #4EBE86;
  color: #fff;
}

.position-relative {
  position: relative !important;
}

.d-inline-block {
  display: inline-block !important;
}

.overflow-hidden {
  overflow: hidden !important;
}


/* Video Column */

.card--testimonial-l-12 {
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  height: 100%;
}


.testimonial-l-12-content {
  padding: 25px 30px 27px 30px;
}

.testimonial-l-12-content span {
  font-family:Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: -0.642857px;
  color: #666666;
}

.testimonial-l-12-content .video-area i {
  width: 54px;
  height: 54px;
  line-height: 54px;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
  background: #4EBE86;
  color: #fff;
}

.d-flex {
  display: flex !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.align-items-center {
  align-items: center !important;
}

.focus-reset:focus {
  box-shadow: none;
  outline: none;
}

.d-inline-block {
  display: inline-block !important;
}

.fa-align-center:before {
  content: "\f037"; }

