.indexedStep {
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: rgba(0, 116, 217, 1);
}

.btn-signup {
  color: #004aad;
  background-color: #fff;
  margin-bottom: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.btn-signup:hover {
  background-color: #004aad;
  color: #fff;
}

.position-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.form-line {
  margin-top: 12px;
  margin-bottom: 12px;
}
.form-line,
ul.page-section {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.form-line {
  padding: 12px 10px;
  margin: 12px 4px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 3px;
  position: relative;
  width: 100%;
  transition: background-color 0.15s;
}
.form-line,
[data-wrapper-react='true'] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
}
*,
::after,
::before {
  box-sizing: border-box;
}
ul.page-section {
  list-style: none;
}
body {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #2c3345;
}

.block {
  display: inline-block;
}

.rangeAssessmentTextBox {
  background-color: #000000;
  width: 220px;
  height: 40px;
  padding-top: 10px;
  margin: auto;
  border-radius: 10px;
}

.rangeAssessmentTextBox.rangeStatus--danger {
  background-color: #bb120d;
}

.rangeAssessmentTextBox.rangeStatus--warning {
  background-color: #e44800;
}
.rangeAssessmentTextBox.rangeStatus--atention {
  background-color: #ffbf00;
}

.rangeAssessmentTextBox.rangeStatus--neutro {
  background-color: #38c805;
}

.rangeAssessmentTextBox.rangeStatus--success {
  background-color: green;
}

.rangeAssessmentText {
  color: #fff;
  font-family: Poppins;
  font-weight: 600;
  font-size: 15px;
}

.rangeAssessment {
  color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rangeAssessmentInput {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  background: #ffffff; /* Grey background */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.1s; /* 0.2 seconds transition on hover */
  transition: opacity 0.1s;
  border-style: none !important;
}

/*Webkit*/
/*Cursor Webkit*/
.rangeAssessmentInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-width: thin;
  background: #ffffff;
  border-style: solid;
  border-color: rgba(51, 51, 51, 0.493);
  margin-top: -10px;
  cursor: pointer;
}

/*Barra*/
.rangeAssessmentInput::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 3rem;
  transition: all 0.5s;
  cursor: pointer;
}

/*Rage de Cores*/
.rangeAssessmentInput.rangeStatus--danger::-webkit-slider-runnable-track {
  background-color: #bb120d;
}

.rangeAssessmentInput.rangeStatus--warning::-webkit-slider-runnable-track {
  background: #e44800;
}

.rangeAssessmentInput.rangeStatus--atention::-webkit-slider-runnable-track {
  background: #ffbf00;
}

.rangeAssessmentInput.rangeStatus--neutro::-webkit-slider-runnable-track {
  background: #38c805;
}

.rangeAssessmentInput.rangeStatus--success::-webkit-slider-runnable-track {
  background: green;
}

/* Mozila */
/*Cursor */
.rangeAssessmentInput::-moz-range-thumb {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-width: thin;
  background: #ffffff;
  border-style: solid;
  border-color: rgba(51, 51, 51, 0.493);
  margin-top: -10px;
  box-shadow: 2px 2px 2px rgba(#000, 0.5);
  cursor: pointer;
}

/*Barra*/
.rangeAssessmentInput::-moz-range-track {
  height: 10px;
  border-radius: 3rem;
  transition: all 0.5s;
  cursor: pointer;
}

/*Rage de Cores*/
.rangeAssessmentInput.rangeStatus--danger::-moz-range-track {
  background-color: #bb120d;
}

.rangeAssessmentInput.rangeStatus--warning::-moz-range-track {
  background: #e44800;
}

.rangeAssessmentInput.rangeStatus--atention::-moz-range-track {
  background: #ffbf00;
}

.rangeAssessmentInput.rangeStatus--neutro::-moz-range-track {
  background: #38c805;
}

.rangeAssessmentInput.rangeStatus--success::-moz-range-track {
  background: green;
}
