.indexedStep 
{
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background-color: rgba(211, 211, 211, 0.8);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.indexedStep.accomplished {
  background-color: rgba(0, 116, 217, 1);
}


.btn-signup{
  color:#004aad;
  background-color:#fff;
  margin-bottom: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.btn-signup:hover{
  background-color:#004aad;
  color:#fff;
}

.position-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.form-line {
    margin-top: 12px;
    margin-bottom: 12px;
}
.form-line, ul.page-section {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.form-line {
    padding: 12px 10px;
    margin: 12px 4px;
        margin-top: 12px;
        margin-bottom: 12px;
    border-radius: 3px;
    position: relative;
    width: 100%;
    transition: background-color .15s;
}
.form-line, [data-wrapper-react="true"] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
*, ::after, ::before {
    box-sizing: border-box;
}
ul.page-section {
    list-style: none;
}
body {
    font-family: Inter,sans-serif;
    font-size: 16px;
    color: #2c3345;
}

.block {
     display: inline-block; 
}

.teste  {
    color:black;
}
.teste.rangeStatus--success  {
    color:green;
}
.teste.rangeStatus--danger {
    color:red;
}
.teste.rangeStatus--warning  {
    color:orange;
}
.teste.rangeStatus--neutro  {
    color:yellow;
}

.rangeAssessmentInput::-webkit-slider-runnable-track {
    background: #004aad;
    padding: 0px;
    font-size: 30pt;
    border-radius: 10px;
    border: 1px solid #000;
    cursor: pointer;
    height: 20px;
    width: 30px;
    -webkit-appearance: none;
}

.rangeAssessmentInput.rangeStatus--danger::-webkit-slider-runnable-track{
    background: red;
}

.rangeAssessmentInput.rangeStatus--warning::-webkit-slider-runnable-track{
    background: orange;
}

.rangeAssessmentInput.rangeStatus--neutro::-webkit-slider-runnable-track{
    background: yellow;
}

.rangeAssessmentInput.rangeStatus--success::-webkit-slider-runnable-track{
    background:green;
}

