.contact-form-area-l1 {
  padding-top: 20px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .contact-form-area-l1 {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .contact-form-area-l1 {
    padding-top: 100px;
    padding-bottom: 130px;
  }
}

.contact-form-area-l1 .section__heading h2 {
  color: #fff;
}

.contact-form-area-l1 .section__heading p {
  color: #fff;
  opacity: 0.65;
}

.contact-form-l1 {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .contact-form-l1 {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .contact-form-l1 {
    margin-top: 40px;
  }
}

.contact-form-l1 label {
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.contact-form-l1 .form-control {
  background: #FFFFFF;
  border: 1px solid #E6EAF4;
  border-radius: 15px;
  height: 60px;
  width: 100%;
  font-size: 17px;
  line-height: 30px;
  color: #213053;
  mix-blend-mode: normal;
  opacity: 1;
  padding-left: 22px;
  margin-bottom: 20px;
}

.contact-form-l1 .form-control::-moz-placeholder {
  color: #213053;
  opacity: 0.7;
}

.contact-form-l1 .form-control:-ms-input-placeholder {
  color: #213053;
  opacity: 0.7;
}

.contact-form-l1 .form-control::placeholder {
  color: #213053;
  opacity: 0.7;
}

.contact-form-l1 .nice-select {
  color: #213053;
  font-size: 17px;
  height: 60px;
  line-height: 60px;
  padding-left: 22px;
  width: 100%;
  border-radius: 20px;
}

.contact-form-l1 .nice-select .list {
  width: 100%;
}

.contact-form-l1 .nice-select::after {
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  width: 0;
  height: 0;
  transform: rotate(0deg);
  transform-box: view-box;
  right: 30px;
  margin-top: 0;
}

.contact-form-l1 .nice-select.open:after {
  transform: rotate(-180deg);
}

.get-free-demo-btn {
  background: #FF7139;
  height: 70px;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 20px;
  margin-top: 30px;
}

.contact-area-l-image-group .image-1 {
  position: absolute;
  top: 15%;
  left: 0%;
}

.contact-area-l-image-group .image-2 {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translate(-50%, -50%);
}

.contact-area-l-image-group .image-3 {
  position: absolute;
  bottom: 10%;
  right: 0%;
}

@media (min-width: 992px) {
  .contact-area-l-image-group .image-3 {
    right: 20%;
  }
}

.contact-area-l-image-group .image-4 {
  position: absolute;
  bottom: 0%;
  left: 0%;
}

@media (min-width: 992px) {
  .contact-area-l-image-group .image-4 {
    bottom: 0%;
    left: 5%;
  }
}

.submitButton
{
  background-color: #FF7139;
  border-radius: 30px;
  border: none;
  color: #E6EAF4;
  font-family: Poppins;
  font-weight: 500;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  transition: transform .2s;
  width: 100%;
  margin: 0;
}

.error-message {
  text-align: center;
  color: white;
  background-color: #f46f7c;
}

.error-message a {
  color: #1D263A;
}

.submitButton.submitButton--success {
  color: #212529;
  background-color: #79FF8B;
}

.submitButton.submitButton--success:hover
{
  background-color: #79FF8B;
}


