.contact-form-area-l1 {
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #1D263A;
}

@media (min-width: 768px) {
  .contact-form-area-l1 {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .contact-form-area-l1 {
    padding-top: 100px;
    padding-bottom: 130px;
  }
}

.contact-form-area-l1 .section__heading h2 {
  color: #fff;
}

.contact-form-area-l1 .section__heading p {
  color: #fff;
  opacity: 0.65;
  text-align: center;
}

.contact-form-l1 {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .contact-form-l1 {
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .contact-form-l1 {
    margin-top: 40px;
  }
}

.contact-form-l1 .nice-select.open:after {
  transform: rotate(-180deg);
}

.get-free-demo-btn {
  background: #FF7139;
  height: 70px;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 20px;
  margin-top: 30px;
}

.contact-area-l-image-group .image-1 {
  position: absolute;
  top: 15%;
  left: 0%;
}

.contact-area-l-image-group .image-2 {
  position: absolute;
  top: 50%;
  right: 25%;
  transform: translate(-50%, -50%);
}

.contact-area-l-image-group .image-3 {
  position: absolute;
  bottom: 10%;
  right: 0%;
}

@media (min-width: 992px) {
  .contact-area-l-image-group .image-3 {
    right: 20%;
  }
}

.contact-area-l-image-group .image-4 {
  position: absolute;
  bottom: 0%;
  left: 0%;
}

@media (min-width: 992px) {
  .contact-area-l-image-group .image-4 {
    bottom: 0%;
    left: 5%;
  }
}
