.content-area-2-l1 {
  background-color: #11115d;
  padding-top: 50px;
  padding-bottom: 60px;
}

@media (min-width: 768px) {
  .content-area-2-l1 {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .content-area-2-l1 {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.number-content-box-l1 {
  margin-top: 30px;
  margin-bottom: -60px;
}

@media (min-width: 768px) {
  .number-content-box-l1 {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .number-content-box-l1 {
    margin-top: 70px;
  }
}

.number-content-box-l1 li {
  margin-bottom: 60px;
}

.number-content-box-l1 .number {
  width: 100px;
  height: 66px;
  line-height: 66px;
  box-shadow: 0 5px 0 rgba(23, 135, 252, 0.65);
  border-radius: 20px;
  background-color: #1787fc;
  text-align: center;
}

.number-content-box-l1 .number span {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.4px;
}

.number-content-box-l1 .number--2 {
  box-shadow: 0 5px 0 rgba(255, 113, 57, 0.65);
  background-color: #ff7139;
}

.number-content-box-l1 .content {
  margin-left: 30px;
}

.number-content-box-l1 .content h4 {
  color: #213053;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: -0.3px;
  line-height: 32px;
}

.number-content-box-l1 .content p {
  opacity: 0.8;
  color: #213053;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
}

.content-2-l1-image-group {
  position: relative;
}

.content-2-l1-image-group .image-2 {
  position: absolute;
  top: 17%;
  left: 0%;
}

.testimonial-area-l1-items {
  padding-top: 40px;
  margin-bottom: -30px;
}

.testimonial-area-l1-items .col-lg-4 {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .testimonial-area-l1-items {
    padding-top: 60px;
  }
}

@media (min-width: 992px) {
  .testimonial-area-l1-items {
    padding-top: 80px;
  }
}

.testimonial-area-l1-items .content {
  padding: 0px 0px;
}

@media (min-width: 1200px) {
  .testimonial-area-l1-items .content {
    padding: 0px 20px;
  }
}

@media (min-width: 1600px) {
  .testimonial-area-l1-items .content {
    padding: 0px 50px;
  }
}

.testimonial-area-l1-items .content p {
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #213053;
  margin-top: 28px;
  margin-bottom: 30px;
}

.testimonial-area-l1-items .content p span {
  border-bottom: 4px solid #FF7139;
}

.testimonial-area-l1-items .content h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  color: #213053;
  margin-bottom: 0;
}

.testimonial-area-l1-items .content small {
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #213053;
  opacity: 0.7;
}

.justify-content-center {
  justify-content: center !important;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}


.testimonial-area-l1 {
  padding-top: 60px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .testimonial-area-l1 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

@media (min-width: 992px) {
  .testimonial-area-l1 {
    padding-top: 147px;
    padding-bottom: 124px;
  }
}
